Scrapy==1.2.2
loginform>=1.2.0
page_finder
scrapylib
scrapy-splash
scrapy-crawlera
scrapy-dotpersistence
scrapy-pagestorage

# Scrapy S3 storage backend requires boto
boto
# Adding bsddb package for DeltaFetch addon
bsddb3
# required by Monkeylearn addon
monkeylearn
# required by Monitoring addon egg
six
Jinja2
jsonschema
premailer==2.9.2
schematics==1.0.4
scrapinghub==1.9.0
slackclient
python-slugify
# Images addon needs Pillow
Pillow

# pinned for custom UA for hubstorage client
scrapinghub-entrypoint-scrapy>=0.8.9

# Portia deps
-e git+https://github.com/scrapy/scrapely@c3c82f3#egg=scrapely
-e git+https://github.com/scrapinghub/dateparser@9b6597d#egg=dateparser
-e git+https://github.com/scrapinghub/portia@a76a80a#egg=slybot==dev&subdirectory=slybot
