requests==2.9.1
retrying==1.3.3

slybot==0.13.0b17
# scrapely==0.12.0 replaced with newer commit
https://github.com/scrapy/scrapely/archive/39e7d2c7.zip#egg=scrapely
# loginform==1.0.0 replaced with newer commit
https://github.com/scrapy/loginform/archive/0a9d570.zip#egg=loginform
# pagefinder==0.1.1 replaced with newer commit
https://github.com/scrapinghub/page_finder/archive/f05f8cd.zip#egg=page_finder
# scrapyjs = scrapy-splash==0.1.1 replaced with newer commit
https://github.com/scrapy-plugins/scrapy-splash/archive/95f0079.zip#egg=scrapy-splash

Twisted==16.1.1
pyOpenSSL==16.0.0
