Scrapy==1.1.0rc4
scrapinghub-entrypoint-scrapy
loginform
page_finder
scrapylib
scrapy-splash
scrapy-crawlera
scrapy-dotpersistence
scrapy-pagestorage
# Images addon needs Pillow
Pillow

# Portia deps
-e git+https://github.com/scrapy/scrapely@39e7d2c7#egg=scrapely
-e git+https://github.com/scrapinghub/dateparser@1223377#egg=dateparser
-e git+https://github.com/scrapinghub/portia@401cba9#egg=slybot==dev&subdirectory=slybot
